<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanBida.Properties.Settings.QuanLyQuanBidaConnectionString"
            connectionString="Data Source=DESKTOP-EL2BUEB\FULEIM1;Initial Catalog=QuanLyQuanBida;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>